<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo">
          <img src="./assets/imgs/logo.png" alt="" class="width-full">
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" class="menu-left">
          <li (click)="navigate('/admin')" nz-menu-item>
              <i nz-icon nzType="dashboard"></i>
              <span> Tổng quan </span>
          </li>
          <li nz-submenu nzTitle="Quản lý người dùng" nzIcon="shopping-cart" nzOpen>
              <ul>
                  <li (click)="navigate('/admin/user')" nz-menu-item>Danh sách người dùng</li>
              </ul>
          </li>
          <li nz-submenu nzTitle="Quản lý tin nhắn" nzIcon="appstore" nzOpen>
              <ul>
                  <li (click)="navigate('/admin/message')" nz-menu-item>Danh sách tin nhắn</li>
              </ul>
          </li>
          <li nz-submenu nzTitle="Quản lý hình ảnh" nzIcon="appstore" nzOpen>
            <ul>
                <li (click)="navigate('/admin/photo')" nz-menu-item>Danh sách hình ảnh</li>
            </ul>
        </li>
      </ul>
  </nz-sider>
  <nz-layout>
      <nz-header>
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              (click)="isCollapsed = !isCollapsed"></i>
          <ul nz-menu nzTheme="dark" nzMode="horizontal">
              <li nz-menu-item nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Đăng xuất" (nzOnConfirm)="logout()"
                  nzPopconfirmPlacement="topRight">
                  <i nz-icon nzType="logout"></i>
              </li>
          </ul>
      </nz-header>
      <nz-content>
          <router-outlet></router-outlet>
      </nz-content>
  </nz-layout>
</nz-layout>